/* Contact.css */

.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 2cm;

}
.contact-container p {
  margin-top: 1cm;
}

.contact-form {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 1cm;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
